* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    @font-face {
        font-family: inter;
        src: url('assets/fonts/Inter-VariableFont_slnt,wght.ttf');
    }

    font-family: inter;
}



.container {
    width: 100%;
    height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(26, 9, 121, 1) 28%, rgba(0, 212, 255, 1) 100%);
    padding: 10px;
}

.APP {
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 70px 30px;
    border-radius: 10px;
}

.APP h2 {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.APP h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eedfee;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin-top: 5px;
    margin-bottom: 12px;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/public/assets/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    text-decoration: line-through;
    color: #555;

}

ul li.checked::before {
    background-image: url(/public/assets/images/checked.png);
}

ul li span {
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}

@media screen and (max-width:768px) {
    .container {
        width: 100%;
        height: 100vh;
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(26, 9, 121, 1) 28%, rgba(0, 212, 255, 1) 100%);
        padding: 10px;
    }

    .APP {
        width: 100%;
        max-width: 100%;
        background: white;
        margin: 100px 5px;
        padding: 40px 70px 30px;
        border-radius: 10px;
    }

    .APP h2 img {
        width: 30px;
        margin-left: 10px;
    }

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #eedfee;
        border-radius: 30px;
        margin-bottom: 25px;
    }

    button {
        padding: 8px;
        background: #ff5945;
        color: white;
        font-size: 14px;
        cursor: pointer;
        border-radius: 50%;
        width: 50px;
        height: 40px;
        text-align: center;
    }




}